<section class="pt-5">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <img src="{{picture}}" alt="{{name}}" class="img-fluid w-100" />

      </div>
      <div class="col-md-6">
        <h2>{{name}}</h2>
        <h4>Gender:{{gender}}</h4>
        <h5>Age: {{age}}</h5>
      </div>
    </div>

  </div>
</section>